@page
@model HomePetWeb.App.Frontend.Pages.Details3Model
@{
}
<h2>@Model.VisitaDomicilio.Temperatura</h2>
<p >                                                </p> 

<a class="btn btn-primary">DETALLE DE VISITA DOMICILIO</a>
<p >                                                </p> 
<p >                                                </p> 


<div>
    Id: @Model.VisitaDomicilio.Id
    </div>
    <div>
    Temperatura: @Model.VisitaDomicilio.Temperatura
    </div>
<div>
    Peso: @Model.VisitaDomicilio.Peso
    </div>
    <div>
    FrecuenciaRespiratoria: @Model.VisitaDomicilio.FrecuenciaRespiratoria
    </div>
    <div>
    FrecuenciaCardiaca: @Model.VisitaDomicilio.FrecuenciaCardiaca
    </div>
<div>
    EstadoAnimo: @Model.VisitaDomicilio.EstadoAnimo
    </div>
    <div>
    FechaVisita: @Model.VisitaDomicilio.FechaVisita
    </div>
    <div>
    IdVeterinario: @Model.VisitaDomicilio.IdVeterinario
    </div>
    <a asp-page="./List3" class="btn btn-primary">Visita Domicilio </a>
  