@page
@model HomePetWeb.App.Frontend.Pages.List3Model
@{
}
<h1>Visita a Domicilio</h1>
<form method="get">
        <p>
            ***********************************************************
        </p>
        <a class="btn btn-primary">LISTADO DE VISITA DOMICILIO</a>
        <p>


    <div class="form-group">
        <p>
            InfoVisitaDomicilio: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtar" />
        </p>
        <p>                                     </p>
</form>

<a class="btn btn-primary">TEMPERATURA</a><a class="btn btn-primary">PESO</a><a class="btn btn-primary">F. RESPIRATORIA</a><a
    class="btn btn-primary">F. CARDIACA</a><a class="btn btn-primary">ESTAD ANIMO</a><a class="btn btn-primary">FECHA VISITA</a>

    <p>                                     </p>
<table class="table">
    @foreach (var InfoVisitaDomicilio in Model.VisitaDomicilio)
    {
        <tr>
            <td>@InfoVisitaDomicilio.Temperatura</td>
            <td>@InfoVisitaDomicilio.Peso</td>
            <td>@InfoVisitaDomicilio.FrecuenciaRespiratoria</td>
            <td>@InfoVisitaDomicilio.FrecuenciaCardiaca</td>
            <td>@InfoVisitaDomicilio.EstadoAnimo</td>
            <td>@InfoVisitaDomicilio.FechaVisita</td>
            <td>@InfoVisitaDomicilio.IdVeterinario</td>
                 <td>
                    <a class="btn btn-primary table-btn" asp-page="./Details3" asp-route-visitaDomicilioId="@InfoVisitaDomicilio.Id">
                        <i class="fas fa-info-circle fa-lg"></i>
                        DETALLE
                        </a>
                 </td>     
                 <td> 
                 <a class="btn btn-primary table-btn" asp-page="./Edit3" asp-route-visitaDomicilioId="@InfoVisitaDomicilio.Id">
                 <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                        EDITAR 
                 </a>
                 <td> 
                 <a class="btn btn-primary table-btn" asp-page="./Delete3" asp-route-visitaDomicilioId="@InfoVisitaDomicilio.Id">
                 <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                        BORRAR
                 </a>

            </td>  
        </tr>   
    }

    </table>
    <a asp-page=".\Edit3" class="btn btn-primary">Adicionar Visita Domicilio</a>
