@page
@model HomePetWeb.App.Frontend.Pages.Details2Model
@{
}
<h2>@Model.PropietarioMascota.Nombre</h2>
<p >                                                </p> 

<a class="btn btn-primary">DETALLE DE PROPIETARIO MASCOTAS</a>
<p >                                                </p> 
<p >                                                </p>


<div>
    Id: @Model.PropietarioMascota.Id
    </div>
    <div>
    Nombre: @Model.PropietarioMascota.Nombre
    </div>
<div>
    Apellido: @Model.PropietarioMascota.Apellido
    </div>
    <div>
    Documento: @Model.PropietarioMascota.Documento
    </div>
    <div>
    Direccion: @Model.PropietarioMascota.Direccion
    </div>
<div>
    Telefono: @Model.PropietarioMascota.Telefono
    </div>
    <div>
    Ciudad: @Model.PropietarioMascota.Ciudad
    </div>
    <div>
    Correo: @Model.PropietarioMascota.Correo
    </div>
    <a asp-page="./List2" class="btn btn-primary">PropietarioMascota </a>
  