@page
@model HomePetWeb.App.Frontend.Pages.ListModel
@{
}
<h1>Veterinario en Casa</h1>

        <p>
            ***********************************************************
        </p>
        <p>
            ***********************************************************
        </p>
        <a class="btn btn-primary">LISTADO DE VETERINARIO</a>
        <p>                                     </p>
<form method="get">
    <div class="form-group">
        <p>
            InfoVeterinario: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtar" />
        </p>
        <p>                                     </p>
</form>

<a class="btn btn-primary">NOMBRE</a><a class="btn btn-primary">     </a><a class="btn btn-primary">APELLIDO</a><a
    class="btn btn-primary">      </a><a class="btn btn-primary">TELEFONO</a><a class="btn btn-primary">    </a><a
    class="btn btn-primary">TARJETA PROFESIONAL</a>

        <p>                                     </p>
<table class="table">
    @foreach (var InfoVeterinario in Model.Veterinarios)
    {
        <tr>
            <td>@InfoVeterinario.Nombre</td>
            <td>@InfoVeterinario.Apellido</td>
            <td>@InfoVeterinario.Telefono</td>
            <td>@InfoVeterinario.TarjetaProfesional</td>
                 <td>
                    <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-veterinarioId="@InfoVeterinario.Id">
                        <i class="fas fa-info-circle fa-lg"></i>
                        DETALLE
                        </a>
                 </td>     
                 <td> 
                 <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-veterinarioId="@InfoVeterinario.Id">
                 <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                        EDITAR
                 </a>
                 <td> 
                 <a class="btn btn-primary table-btn" asp-page="./Delete" asp-route-veterinarioId="@InfoVeterinario.Id">
                 <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                        BORRAR
                 </a>

            </td>  
        </tr>   
    }

    </table>
            <p>                                     </p>
    <a asp-page=".\Edit" class="btn btn-primary">Adicionar Veterinario</a>
